body{
    background-color: tan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5em;
}
.p{
    color: lightseagreen;
    font-size: 20px;
}
.fondoBlanco{
    background-color: white;
}
.fondoAzul{
    background-color: deepskyblue;
}
.fondoNegro{
    background-color: black;
}

.imagen{
    width: 180px;

}
.texto1{
    text-align: center;
    font-size: 3em;
    color: deeppink ;
}

.texto2{
    font-size: 1em;
    color: white;
    text-align: justify;
}
.separacion{
    padding: 1em;
    background-color: orange;
}
.texto3{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.texto4{
    text-align: center;
    font-size: 1em;
    color: black;
}

.borde{
    border: 10px solid white;
    border-radius: 10px;
}
.bordeAzul{
    border: 2px solid deepskyblue;
    border-radius: 5px;

}
